/app/playwright-reports-archive
.DS_Store
/app/.cache
/app/.npm-cache
/app/.pki
/app/.playwright-browsers
/app/data/sessions
/app/data/app-build-status
/app/data/apps
/app/data/docker-builds
/app/data/docker-config
/app/data/docker-config/buildx/refs
/app/data/keys
/app/data/includes
/app/data/installed-apps
/app/data/playwright-runtime
/app/data/sources
/app/data/users
/app/data/workspaces
/app/data/studio-marketplace
/app/data/templates
/app/.ssh
/app/playwright-jobs
/app/playwright-report
/app/playwright-reports-archive
/app/playwright-results
/app/test-results
/app/studio-previews/*
!/app/studio-previews/.gitignore
.claude
/to_another_repo
.env
*.sqlite
